<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tag.type %>
</p>

<p>
  <strong>Count:</strong>
  <%= @tag.count %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tag.url %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
