<!DOCTYPE html>
<html>
<head>
  <title>GConnectionRails</title>
  <link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script-->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<header>
  <%= render 'home/header' %>
</header>
<%= yield %>
<footer class="small">
  <%= render 'home/footer' %>
</footer>
<div id="fb-root"></div>

</body>
</html>
